<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>WWDCScholars</title>
  <meta name="description" content="WWDCScholars">
  <meta name="keywords" content="wwdcscholars, wwdc, scholars, form, website, app">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
  <meta name="author" content="WWDC Scholars">
  <link rel="stylesheet", href="/css/app.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/images/favicon-180.png" sizes="180x180">
  <link rel="apple-touch-icon-precomposed" href="/images/favicon-152.png" sizes="152x152">
  <link rel="apple-touch-icon-precomposed" href="/images/favicon-120.png" sizes="120x120">
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="https://cdn.apple-cloudkit.com/ck/2/cloudkit.js" async></script>
</body>
</html>
