<% layout('layout2') -%> 

<div class="container">

    <div class="fs-form-wrap" id="fs-form-wrap">

        <div class="fs-title">
        <div id="logo" >
        </div>

	<div class="content-container">

            <h1>Welcome</h1>
 			
 			<br>

			<h1 class="frontContent">Are you a WWDCScholar or WWDCStudent?</h1>

			<p class="frontContent">Are you part of WWDCScholars or WWDCStudents? Join us and add yourself in.<p>
			<a class="front" href="/" target="_blank" rel="noopener noreferrer"> Add yourself in </a>
			
			<hr>

			<h1 class="frontContent">Do you want to share a post about your app or your experiences in developing iOS apps?</h1>

			<p class="frontContent">It can be of anything, from telling the world about your WWDC Experience, to showcasing your apps, to telling the story of how you started to code, or just want to impart some knowledge about coding for iOS Apps.<p>
			<a class="front" href="/addpost" target="_blank"> Submit a post </a>


			<hr>

			<h1 class="frontContent">Do you want to check out other WWDCScholars or WWDCStudents like you?</h1>

			<br>

			<a class="front" href="http://www.wwdcscholars.com" target="_blank" rel="noopener noreferrer"> View us here </a><a class="front" href="https://itunes.apple.com/us/app/scholars-of-wwdc/id999731893?mt=8" target="_blank"> Download the App </a>

			<hr>
			<!-- Looking for the application form for wwdcscholars - link -->
			<h1 class="frontContent">Learn more on how to become a WWDCScholar.</h1>
			<br>
			<a class="front" href="https://developer.apple.com/wwdc/scholarships/" target="_blank" rel="noopener noreferrer"> Click here </a>
			
			<hr>
			<!-- Disclaimer -->
			<p class="frontContent">Disclaimer: This is not associated with Apple, Inc. The site and app are proudly made by <a class="footer" href="http://wwdcscholars.com" target="_blank">WWDCScholars</a> all over the world. © 2015-2016 WWDCScholars</p>
			</div>
		
		</div>
	</div>

</div>