<% layout('layout2') -%> 

<div class="container">

    <div class="fs-form-wrap" id="fs-form-wrap">

        <div class="fs-title">
        <div id="logo" >
        </div>

	<div class="content-container">

		<!-- If added a post or added a scholar in-->
		<h1>Thank You!</h1>

		<br>

		<p>Please wait as we verify your submission. We are working very hard to make all of this possible. If you want to contribute or you have any suggestions, you can check out our <a class="footer" href="https://github.com/wwdcscholars" target="_blank" rel="noopener noreferrer">Github Repo</a> or our <a class="footer" href="https://wwdcscholars.github.io" target="_blank" rel="noopener noreferrer">Github Page</a>, you can do a pull request for your suggested feature or <a class="footer" href="https://gitter.im/WWDCScholars/WWDCScholarsHQ" target="_blank" rel="noopener noreferrer">chat with us here</a>.

		<br><br>

		Follow us on <a class="footer" href="https://facebook.com/WWDCScholars" target="_blank" rel="noopener noreferrer">Facebook</a> and <a class="footer" href="https://twitter.com/WWDCScholars" target="_blank" rel="noopener noreferrer">Twitter</a> to be the first to know on latest updates about WWDCScholars and when the new app is out!</p>

		<h3>Check out our site and our App for more info.</h3>

		<a class="front" href="http://www.wwdcscholars.com" target="_blank"> Visit the site </a><a class="front" href="https://itunes.apple.com/us/app/scholars-of-wwdc/id999731893?mt=8" target="_blank" rel="noopener noreferrer"> Download the App </a>

		<!-- Add Share Feature -->

		<hr>
			<!-- Disclaimer -->

			<p style="font-size:12px;">&#63743; WWDCScholars website, app, and github repo is not affiliated with Apple Inc. This is made by a group of the Apple Scholarship Winners who wants to inspire more people to learn how to code :)
			</div>

	</div>

</div>